/* Add these styles to your index.css */

/* Custom scrollbar for the entire application */
::-webkit-scrollbar {
  width: 6px; /* thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light gray track */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* brand color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; /* darker on hover */
}

/* Hide scrollbars for specific elements with this class */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Add a class for when the modal is open */
.modal-open {
  overflow: hidden;
}


